.rating-label {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5 5 5 5;
    -fx-pref-width: 80 ;
    -fx-pref-height: 30 ;
}

.rating-radio {
	-fx-alignment: center;
	-fx-padding: 5 5 5 5;
}

.question-row {
	-fx-border-color: blue;
	-fx-border-width: 1px;
	
}

